body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  background-color: #fff;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

#main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
}
#main .scene {
  height: 100px;
  width: 100px;
  border: 1px solid #fff;
  perspective: 800px;
}
#main .scene .dice {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px) rotateY(0);
}
#main .scene .dice .face {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  border: 1px solid #aaa;
}
#main .scene .dice .one {
  transform: rotateX(90deg) translateZ(50px);
}
#main .scene .dice .two {
  transform: rotateY(180deg) translateZ(50px);
}
#main .scene .dice .three {
  transform: rotateY(90deg) translateZ(50px);
}
#main .scene .dice .four {
  transform: rotateY(-90deg) translateZ(50px);
}
#main .scene .dice .five {
  transform: rotateX(0) translateZ(50px);
}
#main .scene .dice .six {
  transform: rotateX(-90deg) translateZ(50px);
}
#main .scene .dice img {
  width: 100px;
  height: 100px;
}