@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

// .nanummyeongjo * {
//   font-family: , serif;
//  }

body {
  font-family: "Noto Sans KR", "Nanum Myeongjo", sans-serif;
  color: #333;
  background-color: #f5f2e1;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

#header {
  display: flex;
  align-items: center;
  height: 110px;
  justify-content: space-between;
  border-bottom: 3px solid #333;
  background-color: #f5f2e1;
  .pickUp {
    a {
      display: block;
      line-height: 110px;
      padding: 0 60px;
      font-size: 22px;
      font-family: "Nanum Myeongjo";
      font-weight: 700;
      color: #f5f2e1;
      background-color: #000;
    }
  }
}
#logo {
  margin-left: 3%;
  img {
    vertical-align: top;
    width: 80px;
    height: 80px;
  }
}
#gnb {
  ul {
    display: flex;
    > li {
      padding: 0 30px;
      a {
        font-weight: 700;
        font-size: 20px;
        display: block;
        height: 110px;
        line-height: 110px;
        position: relative;
        &:after {
          content: "";
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background-color: #000;
          bottom: 1px;
          left: 0;
          transform: scale(0);
          transition: transform 0.25s ease-in-out;
        }
        &:hover {
          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
