.container {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  border: 3px solid #333;
  border-top: none;
  box-sizing: border-box;
}

section {
  // height: calc(100vh - 116px);
  .container {
    .inner {
      width: 90%;
      margin: 0 auto;
      padding: 0 60px;
      .txtBox {
        span {
          font-size: 26px;
          font-weight: 100;
        }
        h1 {
          font-size: 70px;
          font-family: "Nanum Myeongjo";
          margin-top: 25px;
          font-weight: 900;
        }
        p {
          font-size: 17px;
          margin-top: 25px;
          line-height: 1.5;
        }
        a {
          display: flex;
          justify-content: center;
          padding: 20px 0;
          margin-top: 65px;
          width: 290px;
          color: #333;
          border: 1px solid #000;
          position: relative;
          transition: all 0.3s ease;
          &:after {
            content: "";
            background-color: #333;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0;
            width: 100%;
            display: block;
            transition: all 0.3s ease;
          }
          &:hover {
            span {
              color: #f5f2e1;
              z-index: 1;
            }
            &:after {
              height: 100%;
            }
          }
          span {
            font-size: 16px;
            display: flex;
            font-weight: 400;
            transition: all 0.3s ease;
            &:after {
              content: "\e5cc";
              font-family: "Material Icons";
              margin-left: 20px;
              display: block;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

#main {
  height: calc(100vh - 180px);
  // padding-top: 180px;
  position: relative;
  background-image: url("../images/main/sect01-bg.png");
  background-size: 4500px auto;
  background-repeat: no-repeat;
  background-position: 50% calc(100% + 300px);
  &.mainScroll {
    padding-top: 180px;
  }
  .inner {
    position: relative;
    .mainTxtBox {
      min-height: 660px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 1;
    }
    .back01 {
      img {
        width: 600px;
        position: absolute;
        z-index: -3;
        top: -150px;
        left: -250px;
        transition: all 0.5s ease-in-out;
        &.active {
          top: -100px;
        }
      }
    }
    .back02 {
      img {
        width: 670px;
        position: absolute;
        top: -8%;
        right: 31%;
      }
    }
    .back03 {
      img {
        width: 25vw;
        position: absolute;
        top: -25%;
        right: 32%;
        z-index: -2;
      }
    }
    .back04 {
      img {
        width: 10vw;
        position: absolute;
        top: 10%;
        right: 25%;
        z-index: -1;
      }
    }
  }
}
#perchase {
  .container {
    padding: 350px 0 240px 0;
    max-height: 100%;
    .inner {
      .prechaseWrap {
        position: relative;
        display: flex;
        max-height: 100%;
        justify-content: center;
        .beerImg {
          flex-basis: 39%;
          margin: 0;
          ul {
            li {
              width: 485px;
              max-height: 500px;
              img {
                width: 100%;
                overflow: hidden;
              }
            }
          }
        }
        .txtBox {
          word-break: keep-all;
          margin-left: 60px;
          .titleBeg {
            margin-bottom: 55px;
            background-image: url("../images/main/badge.png");
            width: 310px;
            height: 60px;
            background-size: contain;
            background-position: center center;
            position: relative;
            background-repeat: no-repeat;
            text-align: center;
            p {
              font-weight: 700;
              font-size: 18px;
              transform: translateY(50%);
            }
          }
          h1 {
            font-size: 50px;
          }
          .page {
            display: flex;
            .pagination {
              button {
                outline: none;
                border: none;
                background: none;
                width: auto;
                height: auto;
                cursor: pointer;
                &.prev {
                  transition: all 0.3s ease-in-out;
                  &:after {
                    content: "\f1e6";
                    font-family: "Material Icons";
                    font-size: 30px;
                    font-weight: 100;
                  }
                  &:hover {
                    transform: translateX(-5px);
                  }
                }
                &.next {
                  transition: all 0.3s ease-in-out;
                  &:after {
                    content: "\f1df";
                    font-family: "Material Icons";
                    font-size: 30px;
                    font-weight: 100;
                  }
                  &:hover {
                    transform: translateX(5px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
